#root {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-toast {
  background: #eee;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .custom-toast {
    background: #333;
    color: #fff;
  }
}