:root {
  --toast-color: #333;
  --toast-bg-color: #eee;
}

#root {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-toast {
  background-color: var(--toast-bg-color) !important;
  color: var(--toast-color) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --toast-color: #eee;
    --toast-bg-color: #333;
  }
}